* {
    -webkit-backface-visibility: hidden;
}
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    line-height: 2rem;
    background-color: #eee;
    color: #333;
    font-family: 'Walter Turncoat', 'tahoma', 'verdana', sans-serif;
}

a {
    color: #555;
    text-decoration: none;
    border-bottom: 1px dashed #ddd;
}

p {
    margin: 0;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    line-height: 2rem;
}
p:first-child {
    padding-top: 2rem;
}

#kaizen {
    text-align: center;
}

#kaizen > header {
    background-color: white;
}

#kaizen > header > h4 {
    margin: 0;
    margin-top: -20px;
    font-size: 1.4rem;
    line-height: 2rem;
}

#kaizen > #main {
    background-color: white;
}


#kaizen > #main > hr {
    margin-top: 3rem;
    clear: both;
}

#kaizen > #main > #container {
    width: 80rem;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 3rem;
}

#kaizen > #main > #container > hr {
    clear: both;
    visibility: hidden;
}

#kaizen > #main > #container > .step {
    float: left;
    margin: 2rem 0 0 1rem;
    width: 18.5rem;
    height: 18.5rem;
    border: 1px solid #888;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 18.5rem;
}

#kaizen > footer {
    font-size: 1.4rem;
    line-height: 3rem;
}
